<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YATimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD78D5EB1CAAB62D005392E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD78D6041CAAB62E005392E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD78D60F1CAAB62E005392E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
